@model Lesson7ATM.Models.CardOperationViewModel
@{ ViewBag.Title = "Card information"; }

<div class="CardInformation">
    <div class="ClientInformation">
        <table class="table">
            <tr>
                <td>
                    @Html.LabelFor(x => x.Card.CardId):
                </td>
                <td>
                    @Html.DisplayFor(x => x.Card.CardId)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(x => x.Card.Ballance):
                </td>
                <td>
                    @Html.DisplayFor(x => x.Card.Ballance)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(x => x.Card.Client.FirstName):
                </td>
                <td>
                    @Html.DisplayFor(x => x.Card.Client.FirstName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(x => x.Card.Client.LastName):
                </td>
                <td>
                    @Html.DisplayFor(x => x.Card.Client.LastName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(x => x.Card.Client.Birthday):
                </td>
                <td>
                    @Html.DisplayFor(x => x.Card.Client.Birthday)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(x => x.Card.Client.Address):
                </td>
                <td>
                    <table>
                        <tr>
                            <td>
                                @Html.LabelFor(x => x.Card.Client.Address.Country):
                            </td>
                            <td>
                                @Html.DisplayFor(x => x.Card.Client.Address.Country)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(x => x.Card.Client.Address.State):
                            </td>
                            <td>
                                @Html.DisplayFor(x => x.Card.Client.Address.State)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(x => x.Card.Client.Address.City):
                            </td>
                            <td>
                                @Html.DisplayFor(x => x.Card.Client.Address.City)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(x => x.Card.Client.Address.Address):
                            </td>
                            <td>
                                @Html.DisplayFor(x => x.Card.Client.Address.Address)
                            </td>
                        </tr>

                    </table>
                </td>
            </tr>
        </table>

    </div>
    <div class="Operations">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Ballance</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var operations in Model.Operations)
                {
                    <tr>
                        <th>@operations.OperationId</th>
                        <td>@operations.OperationTime</td>
                        <td>@operations.Amount</td>
                        <td>@operations.OperationDetailses[0].Balance</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>