@using Lesson7ATM.Controllers
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css") @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                @Html.ActionLink("ATM", "Index", "Home", null, new { @class = "navbar-brand" })
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-item nav-link active" })
                        @Html.ActionLink("Withdraw Cash", "WithdrawCash", "Home", null, new { @class = "nav-item nav-link active" })
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr/>
        <footer>
            
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery") @Scripts.Render("~/bundles/bootstrap") @RenderSection("scripts", required: false)
</body>

</html>